body{
    background-image: url("https://images.unsplash.com/photo-1479669732031-affb2ce2d265?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
    background-size: cover; 
    color:#ffffff;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration:bold;
    color:#e49938;
}

a:hover{
    text-decoration: underline;
    color: coral;
}

p{
    color:#f5e1a1;
}

h3{
    margin-right: 25px;
}