h3{
    color:greenyellow;
    background-color: hotpink;
}
button{
    color:rgb(240, 140, 140);
    background-color: lightblue;
}
p{
    color: #00FFFF;
    background: orange;
}
body{
     background: #ff0;
}